/*  
    Author:     Prasad A. Pathak
    NEU ID:     002925486
    Email:      pathak.pra@northeastern.edu
    Subject:    INFO6150 - Web Design and UX
    Purpose:    SCSS File to store all the variables required in the webpage
*/

$font : Helvetica, sans-serif;

$green : #00A88F;
$dark-green: #028D78;
$medium-green: #00A88F;
$light-green: #D1EEE9;
$blue : #0054A6;
$light-grey : #F4F7FA;

$number_map : (
    1:"one",
    2:"two",
    3:"three",
    4:"four",
    5:"five" 
);