/*  
    Author:     Prasad A. Pathak
    NEU ID:     002925486
    Email:      pathak.pra@northeastern.edu
    Subject:    INFO6150 - Web Design and UX
    Purpose:    SCSS file for the Add Todo Item React component
*/
#add-todo {
    align-self:center;
    justify-self: center;
    text-align: center;

    > form > div {
        padding: 5px;
        
        input {
            width: 100%;
        }
    }
}